section#footer
    .inner
        h2.major Связаться с нами...
        p
            | Оставьте заявку, и мы поможем организовать праздник, который превзойдет ваши ожидания! Свяжитесь с нами уже сейчас – ваша сказка начинается здесь.
        form(method='POST' action='https://docs.google.com/forms/d/e/1FAIpQLSf3AUIBkQWZISt7414HnCZ0jebjTJ4atGVQ82ZJmX2gUAbzUA/formResponse' target='_blank')
            .fields
                .field
                    label(for='name') Имя
                    input#name(type='text' name='entry.535904570')
                .field
                    label(for='email') Email
                    input#email(type='email' name='entry.1273338693')
                .field
                    label(for='message') Сообщение
                    textarea#message(name='entry.504453438' rows='4')
            ul.actions
                li
                    input(type='submit' value='Отправить')
        ul.contact
            li.icon.solid.fa-home
                | Киев и область
                //br
                //| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1234 Somewhere Road Suite #2894
                //br
                //| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000-0000
            li.icon.solid.fa-phone (097) 881-51-10
            li.icon.solid.fa-phone (063) 170-80-35
            li.icon.solid.fa-phone (099) 551-18-75
            li.icon.solid.fa-envelope
                a(href='#') sekhno@icloud.com
            //li.icon.brands.fa-twitter
            //    a(href='#') twitter.com/untitled-tld
            li.icon.brands.fa-facebook-f
                a(href='https://www.facebook.com/happykidsagency') Happy Kids Agency
            li.icon.brands.fa-instagram
                a(href='https://www.instagram.com/royalevents89/') Royal Events Insta
            li.icon.brands.fa-youtube
                a(href='https://www.youtube.com/@RoyalEvents-j1f') YouTube chanel
        ul.copyright
            li &copy; RoyalEvents.Kiev.ua. All rights reserved.
            li
                | Design:
                a(href='https://sekhnodev.com') Dmytro Sekhno

