doctype html

block html
    html(lang='uk')

head
    block head
        title 'default'
        meta(name="description" content='default')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')
    link(rel="canonical" href="https://royalevents.kiev.ua/")
    link(rel='alternate' hreflang='ua' href="https://royalevents.kiev.ua/")
    link(rel='alternate' hreflang='ru' href="https://royalevents.kiev.ua/ru/")
    link(rel="alternate" hreflang="x-default" href="https://royalevents.kiev.ua/")
    meta(property="og:locale" content="uk_UA")
    meta(property="og:type" content="article")
    meta(property="og:title" content="Детские аниматоры Киев и область недорого на выезд")
    meta(property="og:description" content="Аниматоры на выезд в Киеве, Киевской области ✅️ Аниматоры для детей заказать Киев ⚡ на детский праздник, день рождения, в сад, в ресторан")
    meta(property="og:url" content="https://royalevents.kiev.ua")
    meta(property="og:site_name" content="Royal Events")
    meta(property="article:modified_time" content="2025-01-03T18:09:33+00:00")
    base(href='/')
    link(rel="icon" type="image/x-icon" href="https://img.icons8.com/3d-fluency/94/joker.png")
    link(rel='stylesheet' href='assets/css/main.css')
    noscript
        link(rel='stylesheet' href='assets/css/noscript.css')
    script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "Royal Events",
        "description": "Организация детских празлников, Поздравления с днём рождения",
        "image": "https://royalevents.kiev.ua/assets/images/Royal%20Events.svg",
        "startDate": "2024-10-01",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
        "@type": "Place",
        "name": "",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "Kiev",
        "postalCode": "02000",
        "addressCountry": "UA"
        }
        },
        "performer": {
        "@type": "PerformingGroup",
        "name": "Royal Events"
        }
        }
body.is-preload
    // Page Wrapper
    #page-wrapper
        // Header
        header#header.alt
            block headTitle
                h1
                    a(href='/') Royal Events
            nav
                a(href='#menu') Menu
        // Menu
        nav#menu
            .inner
                h2 Menu
                ul.links
                    li
                        a(href='/ru/') Главная
                    li
                        a(href='/ru/animators') Аниматоры
                    li
                        a(href='/ru/shows') Детское Шоу
                    li
                        a(href='/ru/costumes') Костюми
                    li
                        a(href='/ru/games') Игры
                    li
                        a(href='/') UA
                a.close(href='#') Close
        block content
