extends ../layout

block head
    title Яркие Костюмы для Детей на Праздничные События – Сказочные Персонажи и Супергерои для Вашего Праздника
    meta(name="description" content='Воплощайте мечты своих детей с яркими и креативными костюмами любимых героев! Мы предлагаем большой выбор костюмов для любой тематики – от сказочных персонажей до супергероев. Пусть ваши дети ощутят себя частью настоящей сказки, превращаясь в любимых героев на празднике!')

block headTitle
    h1
        a(href='/') 'Костюмы – Воплощайте мечты своих детей с яркими костюмами любимых героев!'

block content
    // Wrapper
    section#wrapper
        header
            .inner
                h2 Костюмы
                p Воплощайте мечты своих детей с яркими костюмами любимых героев!
                p
                    span.icon.solid.fa-phone (097) 881-51-10
                    span.icon.solid.fa-phone (063) 170-80-35
                    span.icon.solid.fa-phone (099) 551-18-75
        // Content
        .wrapper
            .inner
                h3.major "Детство — это когда каждый день полон открытий и радости" - Антуан де Сент-Экзюпери
                p
                    | Мы знаем, как важно, чтобы каждый герой праздника был настоящим! Наши костюмы – это не просто наряды, а настоящие магические перевоплощения, позволяющие детям попасть в мир сказки.
                p
                    | Мишка, Панда, Пес Патрон, Зайка, Мишка Тедди – это лишь малая часть того, что мы предлагаем. Каждый костюм создан с любовью и вниманием к деталям, чтобы ваши малыши чувствовали себя любимыми героями своей истории. Наши костюмы подходят для любого праздника: от новогодних чудес до ярких дней рождений.
                p
                    | Мы предлагаем широкий выбор костюмов, подходящих для разных возрастов, и каждый из них способен превратить обычный день в настоящий праздник. Аниматоры в наших костюмах добавят еще больше радости и обаяния, даря детям незабываемые мгновения счастья.
                p
                    | Подарите вашим детям возможность стать героем своего праздника! Пусть этот день будет полон сказочных моментов и приятных сюрпризов.
                section
                    h3.major
                    .box.alt
                        .row.gtr-uniform
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes01.webp' alt='costumes' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes02.webp' alt='costumes' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes03.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes04.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes05.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes06.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes07.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes08.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes09.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes10.webp' alt='costumes' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes11.webp' alt='costumes' loading='lazy')
    // Footer
    include ../footer
    include ../../scripts

