doctype html

head
    title Дитячі аніматори Київ та область недорого на виїзд
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')
    meta(name="description" content="Аніматори на виїзд у Києві, Київській області ✅️ Аніматори для дітей замовити Київ ⚡ на дитяче свято, день народження, у садок, в ресторан")
    link(rel='alternate' hreflang='ua' href="https://royalevents.kiev.ua")
    meta(property="og:locale" content="uk_UA")
    meta(property="og:type" content="article")
    meta(property="og:title" content="Дитячі аніматори Київ та область недорого на виїзд")
    meta(property="og:description" content="Аніматори на виїзд у Києві, Київській області ✅️ Аніматори для дітей замовити Київ ⚡ на дитяче свято, день народження, у садок, в ресторан")
    meta(property="og:url" content="https://royalevents.kiev.ua")
    meta(property="og:site_name" content="Royal Events")
    meta(property="article:modified_time" content="2025-01-03T18:09:33+00:00")
    link(rel="icon" type="image/x-icon" href="https://img.icons8.com/3d-fluency/94/joker.png")
    link(rel='stylesheet' href='assets/css/main.css')
    noscript
        link(rel='stylesheet' href='assets/css/noscript.css')
body.is-preload
    // Page Wrapper
    #page-wrapper
        // Header
        header#header.alt
            h1
                a(href='index.html') Royal Events
            nav
                a(href='#menu') Menu
        // Menu
        nav#menu
            .inner
                h2 Menu
                ul.links
                    li
                        a(href='index.html') Головна
                    li
                        a(href='animators.html') Аніматори
                    li
                        a(href='shows.html') Дитячі Шоу
                    li
                        a(href='costumes.html') Костюми
                a.close(href='#') Close

        // Wrapper
        section#wrapper
            header
                .inner
                    h2 Аніматори
                    p Майстри радості та веселощів, які зроблять ваше свято незабутнім!
                    p
                        span.icon.solid.fa-phone (097) 881-51-10
                        span.icon.solid.fa-phone (063) 170-80-35
                        span.icon.solid.fa-phone (099) 551-18-75
            // Content
            .wrapper
                .inner
                    h3.major “Дитинство — це коли кожен день сповнений чарів та відкриттів.” — Антуан де Сент-Екзюпері
                    p
                        | Наші аніматори — це не просто артисти, а справжні майстри своєї справи, які з першої хвилини захоплюють увагу дітей та створюють атмосферу щастя. Вони вміють слухати, відчувати та розуміти малечу, даруючи кожній дитині увагу та турботу.
                    p
                        | Кожен із наших аніматорів — професіонал, який пройшов спеціальну підготовку та має досвід роботи з дітьми різного віку. Їхні програми наповнені іграми, конкурсами, інтерактивами, які не лише розважають, але й розвивають.
                    //h3.major Vitae phasellus
                    p
                        | Найголовніше — це любов до своєї справи. Кожен наш аніматор дарує щирі посмішки, працює із захопленням та робить усе можливе, щоб ваші діти запам’ятали свято як найкращий день у їхньому житті.
                    p
                        | Обирайте наших аніматорів для свят, де кожна дитина відчує себе особливою, а кожен гість буде вражений теплом та радістю, які вони створюють!
                    section
                        h3.major
                        //h4 Fit
                        .box.alt
                            .row.gtr-uniform
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators01.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators10.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators11.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators04.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators05.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators06.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators07.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators08.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/animators09.webp' alt='' loading='lazy')

            // Footer
            section#footer
                .inner
                    h2.major Зв'язатися з нами...
                    p
                        | Залиште заявку, і ми допоможемо організувати свято, яке перевершить ваші очікування! Зв’яжіться з нами вже зараз — ваша казка починається тут.
                    form(method='post' action='#')
                        .fields
                            .field
                                label(for='name') Name
                                input#name(type='text' name='name')
                            .field
                                label(for='email') Email
                                input#email(type='email' name='email')
                            .field
                                label(for='message') Message
                                textarea#message(name='message' rows='4')
                        ul.actions
                            li
                                input(type='submit' value='Send Message')
                    ul.contact
                        li.icon.solid.fa-home
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; Київ та область
                        li.icon.solid.fa-phone (097) 881-51-10
                        li.icon.solid.fa-phone (063) 170-80-35
                        li.icon.solid.fa-phone (099) 551-18-75
                        li.icon.solid.fa-envelope
                            a(href='#') sekhno@icloud.com
                        //li.icon.brands.fa-twitter
                        //    a(href='#') twitter.com/untitled-tld
                        //li.icon.brands.fa-facebook-f
                        //    a(href='#') facebook.com/untitled-tld
                        //li.icon.brands.fa-instagram
                        //    a(href='#') instagram.com/untitled-tld
                    ul.copyright
                        li &copy; RoyalEvents.Kiev.ua. All rights reserved.
                        li
                            | Design:
                            a(href='https://sekhnodev.com') Dmytro Sekhno

// Scripts
script(src='js/jquery.min.js')
script(src='js/jquery.scrollex.min.js')
script(src='js/browser.min.js')
script(src='js/breakpoints.min.js')
script(src='js/util.js')
script(src='js/main.js')
script(type='module').

    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-analytics.js";


    const firebaseConfig = {
    apiKey: "AIzaSyAAsV2ynFA5DrgLFxSFOV2emCwesTvuj1E",
    authDomain: "ticcai-c459a.firebaseapp.com",
    projectId: "ticcai-c459a",
    storageBucket: "ticcai-c459a.firebasestorage.app",
    messagingSenderId: "676431152143",
    appId: "1:676431152143:web:0a8806c159711747444f7a",
    measurementId: "G-86E0LQ9WED"
    };

    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

