extends layout

block content

    // Wrapper
    section#wrapper
        header
            .inner
                h2 Аніматори
                p Майстри радості та веселощів, які зроблять ваше свято незабутнім!
                p
                    span.icon.solid.fa-phone (097) 881-51-10
                    span.icon.solid.fa-phone (063) 170-80-35
                    span.icon.solid.fa-phone (099) 551-18-75
        // Content
        .wrapper
            .inner
                h3.major “Дитинство — це коли кожен день сповнений чарів та відкриттів.” — Антуан де Сент-Екзюпері
                p
                    | Наші аніматори — це не просто артисти, а справжні майстри своєї справи, які з першої хвилини захоплюють увагу дітей та створюють атмосферу щастя. Вони вміють слухати, відчувати та розуміти малечу, даруючи кожній дитині увагу та турботу.
                p
                    | Кожен із наших аніматорів — професіонал, який пройшов спеціальну підготовку та має досвід роботи з дітьми різного віку. Їхні програми наповнені іграми, конкурсами, інтерактивами, які не лише розважають, але й розвивають.
                //h3.major Vitae phasellus
                p
                    | Найголовніше — це любов до своєї справи. Кожен наш аніматор дарує щирі посмішки, працює із захопленням та робить усе можливе, щоб ваші діти запам’ятали свято як найкращий день у їхньому житті.
                p
                    | Обирайте наших аніматорів для свят, де кожна дитина відчує себе особливою, а кожен гість буде вражений теплом та радістю, які вони створюють!
                section
                    h3.major
                    //h4 Fit
                    .box.alt
                        .row.gtr-uniform
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators01.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators10.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators11.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators04.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators05.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators06.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators07.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators08.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators09.webp' alt='' loading='lazy')

        // Footer
        include footer
    include scripts
