extends layout

block content
    // Wrapper
    section#wrapper
        header
            .inner
                h2 Костюми
                p Втілюйте мрії своїх дітей з яскравими костюмами улюблених героїв!
                p
                    span.icon.solid.fa-phone (097) 881-51-10
                    span.icon.solid.fa-phone (063) 170-80-35
                    span.icon.solid.fa-phone (099) 551-18-75
        // Content
        .wrapper
            .inner
                h3.major “Дитинство — це коли кожен день сповнений чарів та відкриттів.” — Антуан де Сент-Екзюпері
                p
                    | Ми знаємо, як важливо, щоб кожен герой свята був справжнім! Наші костюми — це не просто вбрання, а справжні магічні перевтілення, які дозволяють дітям потрапити у світ казки.
                p
                    | Мішка, Панда, Пес Патрон, Зайка, Мішка Тедді — це тільки мала частина з того, що ми пропонуємо. Кожен костюм створений з любов’ю та увагою до деталей, щоб ваші малята відчували себе улюбленими героями своєї історії. Наші костюми підходять для будь-якого свята: від новорічних чудес до яскравих днів народжень.
                p
                    | Ми пропонуємо широкий вибір костюмів, які підходять для різних вікових категорій, і кожен з них здатен перетворити звичайний день на справжнє свято. Аніматори в наших костюмах додадуть ще більше радості та чарівності, даруючи дітям незабутні миті щастя.
                p
                    | Подаруйте вашим дітям можливість стати героєм свого власного свята! Нехай цей день буде сповнений казкових моментів та приємних сюрпризів.
                section
                    h3.major
                    .box.alt
                        .row.gtr-uniform
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes01.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes02.webp' alt='' loading='lazy')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes03.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes04.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes05.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes06.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes07.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes08.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes09.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes10.webp' alt='' loading='lazy')
                            .col-3.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/costumes11.webp' alt='' loading='lazy')
    // Footer
    include footer
    include scripts
