doctype html

head
    block head
        title '!!!'
        meta(name="description" content='!!!')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')

    link(rel='alternate' hreflang='ua' href="https://royalevents.kiev.ua")
    meta(property="og:locale" content="uk_UA")
    meta(property="og:type" content="article")
    meta(property="og:title" content="Дитячі аніматори Київ та область недорого на виїзд")
    meta(property="og:description" content="Аніматори на виїзд у Києві, Київській області ✅️ Аніматори для дітей замовити Київ ⚡ на дитяче свято, день народження, у садок, в ресторан")
    meta(property="og:url" content="https://royalevents.kiev.ua")
    meta(property="og:site_name" content="Royal Events")
    meta(property="article:modified_time" content="2025-01-03T18:09:33+00:00")
    link(rel="icon" type="image/x-icon" href="https://img.icons8.com/3d-fluency/94/joker.png")
    link(rel='stylesheet' href='assets/css/main.css')
    noscript
        link(rel='stylesheet' href='assets/css/noscript.css')
body.is-preload
    // Page Wrapper
    #page-wrapper
        // Header
        header#header.alt
            block headTitle
                h1
                    a(href='index.html') 'Royal Events'
            nav
                a(href='#menu') Menu
        // Menu
        nav#menu
            .inner
                h2 Menu
                ul.links
                    li
                        a(href='index.html') Головна
                    li
                        a(href='animators.html') Аніматори
                    li
                        a(href='shows.html') Дитячі Шоу
                    li
                        a(href='costumes.html') Костюми
                a.close(href='#') Close
        block content
