doctype html

head
    title Дитячі аніматори Київ та область недорого на виїзд
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')
    meta(name="description" content="Аніматори на виїзд у Києві, Київській області ✅️ Аніматори для дітей замовити Київ ⚡ на дитяче свято, день народження, у садок, в ресторан")
    link(rel='alternate' hreflang='ua' href="https://royalevents.kiev.ua")
    meta(property="og:locale" content="uk_UA")
    meta(property="og:type" content="article")
    meta(property="og:title" content="Дитячі аніматори Київ та область недорого на виїзд")
    meta(property="og:description" content="Аніматори на виїзд у Києві, Київській області ✅️ Аніматори для дітей замовити Київ ⚡ на дитяче свято, день народження, у садок, в ресторан")
    meta(property="og:url" content="https://royalevents.kiev.ua")
    meta(property="og:site_name" content="Royal Events")
    meta(property="article:modified_time" content="2025-01-03T18:09:33+00:00")
    link(rel="icon" type="image/x-icon" href="https://img.icons8.com/3d-fluency/94/joker.png")
    link(rel='stylesheet' href='assets/css/main.css')
    noscript
        link(rel='stylesheet' href='assets/css/noscript.css')
body.is-preload
    // Page Wrapper
    #page-wrapper
        // Header
        header#header.alt
            h1
                a(href='index.html') Royal Events
            nav
                a(href='#menu') Menu
        // Menu
        nav#menu
            .inner
                h2 Menu
                ul.links
                    li
                        a(href='index.html') Головна
                    li
                        a(href='animators.html') Аніматори
                    li
                        a(href='shows.html') Дитячі Шоу
                    li
                        a(href='costumes.html') Костюми
                a.close(href='#') Close

        // Wrapper
        section#wrapper
            header
                .inner
                    h2 Дитячі Шоу
                    p Яскраві та захоплюючі шоу, які зроблять ваше свято магічним!
                    p
                        span.icon.solid.fa-phone (097) 881-51-10
                        span.icon.solid.fa-phone (063) 170-80-35
                        span.icon.solid.fa-phone (099) 551-18-75
            // Content
            .wrapper
                .inner
                    h3.major “Дитинство — це коли кожен день сповнений чарів та відкриттів.” — Антуан де Сент-Екзюпері
                    p
                        | Ми знаємо, як перетворити будь-яке свято на справжнє шоу! Наші дитячі шоу — це не просто розвага, це магія, що дарує дітям радість, захоплення та незабутні емоції.
                    p
                        | Шоу з мильними бульбашками, фокуси, вогняні виступи, хімічні експерименти — кожен номер це неймовірне видовище, яке залишить слід у серцях малечі та дорослих. Наші талановиті артисти не тільки захоплюють, а й створюють атмосферу справжнього свята, де кожен гість відчуває себе частиною чогось великого.
                    p
                        | Мильне шоу з неймовірними бульбашками, що літають і танцюють, вогняні шоу, які переплітаються з магією та екстремальністю, або хімічні експерименти, що захоплюють уяву — це ідеальний спосіб зробити ваше свято унікальним. Ми гарантуємо, що ваше свято стане справжнім шедевром і викличе емоції, які залишаться у пам’яті надовго!
                    p
                        | Не втрачайте шанс подарувати вашим дітям свято, яке вони не забудуть ніколи!
                    section
                        h3.major
                        //h4 Fit
                        .box.alt
                            .row.gtr-uniform
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows01.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows02.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows03.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows04.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows10.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows06.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows07.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows08.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows09.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows11.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows12.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows13.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows14.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows15.webp' alt='' loading='lazy')
                                .col-4
                                    span.image.fit
                                        img(src='assets/images/_custom/shows16.webp' alt='' loading='lazy')

            // Footer
            section#footer
                .inner
                    h2.major Зв'язатися з нами...
                    p
                        | Залиште заявку, і ми допоможемо організувати свято, яке перевершить ваші очікування! Зв’яжіться з нами вже зараз — ваша казка починається тут.
                    form(method='post' action='#')
                        .fields
                            .field
                                label(for='name') Name
                                input#name(type='text' name='name')
                            .field
                                label(for='email') Email
                                input#email(type='email' name='email')
                            .field
                                label(for='message') Message
                                textarea#message(name='message' rows='4')
                        ul.actions
                            li
                                input(type='submit' value='Send Message')
                    ul.contact
                        li.icon.solid.fa-home
                            | Київ та область
                        li.icon.solid.fa-phone (097) 881-51-10
                        li.icon.solid.fa-phone (063) 170-80-35
                        li.icon.solid.fa-phone (099) 551-18-75
                        li.icon.solid.fa-envelope
                            a(href='#') sekhno@icloud.com
                    ul.copyright
                        li &copy; RoyalEvents.Kiev.ua. All rights reserved.
                        li
                            | Design:
                            a(href='https://sekhnodev.com') Dmytro Sekhno

// Scripts
script(src='js/jquery.min.js')
script(src='js/jquery.scrollex.min.js')
script(src='js/browser.min.js')
script(src='js/breakpoints.min.js')
script(src='js/util.js')
script(src='js/main.js')
script(type='module').

    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-analytics.js";


    const firebaseConfig = {
    apiKey: "AIzaSyAAsV2ynFA5DrgLFxSFOV2emCwesTvuj1E",
    authDomain: "ticcai-c459a.firebaseapp.com",
    projectId: "ticcai-c459a",
    storageBucket: "ticcai-c459a.firebasestorage.app",
    messagingSenderId: "676431152143",
    appId: "1:676431152143:web:0a8806c159711747444f7a",
    measurementId: "G-86E0LQ9WED"
    };

    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

