extends ../layout

block head
    title Аніматори
    meta(name="description" content='Аніматор або аніматори - Майстри радості та веселощів, які роблять кожне свято незабутнім! Наші аніматори — це справжні професіонали своєї справи, які вміють заряджати енергією та емоціями. Аніматори створять веселу атмосферу та подарують дітям море радості, сміху та незабутніх моментів!')

block headTitle
    h1
        a(href='/') 'Аніматори - Майстри радості та веселощів, які зроблять ваше свято незабутнім!'

block content
    // Wrapper
    section#wrapper
        header
            .inner
                h2 Аніматори
                p Майстри радості та веселощів, які зроблять ваше свято незабутнім!
                p
                    span.icon.solid.fa-phone (097) 881-51-10
                    span.icon.solid.fa-phone (063) 170-80-35
                    span.icon.solid.fa-phone (099) 551-18-75
        // Content
        .wrapper
            .inner
                h3.major “Дитинство — це коли кожен день сповнений чарів та відкриттів.” — Антуан де Сент-Екзюпері
                p
                    | Наші аніматори — це не просто артисти, а справжні майстри своєї справи, які з першої хвилини захоплюють увагу дітей та створюють атмосферу щастя. Вони вміють слухати, відчувати та розуміти малечу, даруючи кожній дитині увагу та турботу.
                p
                    | Кожен із наших аніматорів — професіонал, який пройшов спеціальну підготовку та має досвід роботи з дітьми різного віку. Їхні програми наповнені іграми, конкурсами, інтерактивами, які не лише розважають, але й розвивають.
                p
                    | Найголовніше — це любов до своєї справи. Кожен наш аніматор дарує щирі посмішки, працює із захопленням та робить усе можливе, щоб ваші діти запам’ятали свято як найкращий день у їхньому житті.
                p
                    | Обирайте наших аніматорів для свят, де кожна дитина відчує себе особливою, а кожен гість буде вражений теплом та радістю, які вони створюють!
                section
                    h3.major
                    .box.alt
                        .row.gtr-uniform
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators01.webp' loading='lazy' alt='Аніматори на дитячому святі' )
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators10.webp' loading='lazy' alt='Аніматори на дні народження')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators11.webp' loading='lazy' alt='Аніматори в дитячому садку')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators04.webp' loading='lazy' alt='Аніматори на урочистості')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators05.webp' loading='lazy' alt='Аніматори влаштовують ігри')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators06.webp' loading='lazy' alt='Аніматори залишають чудові спогади')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators07.webp' loading='lazy' alt='Аніматори влаштовують естафети')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators08.webp' loading='lazy' alt='Аніматори влаштовують мильне шоу')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators09.webp' loading='lazy' alt='Аніматори люблять дітей')

        // Footer
        include ../footer
    include ../scripts

