extends ../layout

block head
    title Аніматори
    meta(name="description" content='Аниматор или аниматоры - мастера радости и веселья, которые делают каждый праздник незабываемым! Наши аниматоры – это настоящие профессионалы своего дела, умеющие заряжать энергией и эмоциями. Аниматоры создадут веселую атмосферу и подарят детям море радости, смеха и незабываемых моментов!')

block headTitle
    h1
        a(href='/ru/') 'Аниматоры - Мастера радости и веселья, которые сделают ваш праздник незабываемым!'

block content
    // Wrapper
    section#wrapper
        header
            .inner
                h2 Аниматоры
                p Мастера радости и веселья, которые сделают ваш праздник незабываемым!
                p
                    span.icon.solid.fa-phone (097) 881-51-10
                    span.icon.solid.fa-phone (063) 170-80-35
                    span.icon.solid.fa-phone (099) 551-18-75
        // Content
        .wrapper
            .inner
                h3.major "Детство — это когда каждый день полон открытий и радости" - Антуан де Сент-Экзюпери
                p
                    | Наши аниматоры — это не просто артисты, а настоящие мастера своего дела, которые с первой минуты увлекают детей и создают атмосферу счастья. Они умеют слушать, чувствовать и понимать малышей, даря каждому ребенку внимание и заботу.
                p
                    | Каждый из наших аниматоров — профессионал, который прошел специальную подготовку и имеет опыт работы с детьми всех возрастов. Их программы наполнены играми, конкурсами, интерактивами, не только развлекающими, но и развивающими.
                p
                    | Самое главное – это любовь к своему делу. Каждый наш аниматор дарит искренние улыбки, работает с восторгом и делает все возможное, чтобы ваши дети запомнили праздник как лучший день в их жизни.
                p
                    | Выбирайте наших аниматоров для праздников, где каждый ребенок почувствует себя особенным, а каждый гость будет поражен теплом и радостью, которые они создают!
                section
                    h3.major
                    .box.alt
                        .row.gtr-uniform
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators01.webp' loading='lazy' alt='Аниматоры на дестком празднике' )
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators10.webp' loading='lazy' alt='Аниматоры на дни рождения')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators11.webp' loading='lazy' alt='Аниматоры в детском саду')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators04.webp' loading='lazy' alt='Аниматоры на торжестве')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators05.webp' loading='lazy' alt='Аниматоры устраивают игры')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators06.webp' loading='lazy' alt='Аниматоры оставляют чудесные воспоминания')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators07.webp' loading='lazy' alt='Аниматоры устраивают эстафеты')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators08.webp' loading='lazy' alt='Аниматоры устраивают мыльное шоу')
                            .col-4.col-12-small
                                span.image.fit
                                    img(src='assets/images/_custom/animators09.webp' loading='lazy' alt='Аниматоры любят детей')

        // Footer
        include ../footer
    include ../../scripts

